@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Ubuntu+Condensed&display=swap');
/*family= Rubik+Doodle+Shadow
  family=Ubuntu+Condensed*/


body {
    background-color: #000019;
    font-family: 'Ubuntu Condensed';
    color: white;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Rubik Doodle Shadow';
}

.menu_logo {
    max-width: 70px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.menu_logo:hover {
    transform: scale(1.2);
}

.menu_lista {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.menu_lista a {
    font-size: 30px;
}

.menu_lista a:hover {
    color: #ff5c81;
}


.menu_curriculo {
    background-color: #ff5c81;
    padding: 10px 20px;
    border-radius: 20px;
}

.menu_curriculo:hover {
    background-color: #c1002c;
}

.home {
    /* background-image: url(https://i.giphy.com/xTiTnxpQ3ghPiB2Hp6.webp); */
    background-image: url("./fundo.gif");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.home_infos {
    background-color: rgb(0, 0, 0, 0.8);
    padding: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 100px 100px;
    gap: 25px;
}

.home_img {
    border-radius: 50%;
    border: white solid 4px;
    max-width: 350px;
}

.home_nome {
    font-family: 'Rubik Doodle Shadow';
    font-size: 100px;
}

.home_profissao {
    font-size: 40px;
    color: #ff5c81;
    font-family: 'Rubik Doodle Shadow';
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
    border-top: 10px solid #ff5c81;
    padding-top: 50px;
    margin-top: 100px;
}

.sobre_infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.sobre_titulo {
    font-size: 80px;
    font-family: 'Rubik Doodle Shadow';
    position: relative;
}

.sobre_titulo::before {
    content: "";
    background-image: url(https://raw.githubusercontent.com/abelardojr0/portfolio-aula/main/img/detalhes/detalhe_duplo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 150px;
    position: absolute;
    top: -40px;
    left: -55px;
    z-index: -1;
}

.sobre_texto {
    font-size: 25px;
    line-height: 1.2;
}

.cursos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    max-width: 80vw;
    margin: 0 auto;
    border-top: 10px solid #ff5c81;
    padding-top: 50px;
}

.cursos_titulo1 {
    font-family: 'Rubik Doodle Shadow';
    max-width: 500px;
    word-wrap: break-word;
    font-size: 200px;
}

.grade_cursos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.curso {
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 30px;
    padding: 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.curso_titulo {
    font-size: 24px;
    color: #c1002c;
    position: relative;
}

.curso_titulo::before {
    content: "";
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: linear-gradient(90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(193, 0, 44, 1) 35%,
            rgba(255, 92, 129, 1) 100%);
    position: absolute;
    left: -40px;
    top: -5px;
}

.curso_nome {
    color: #ff5c81;
}

.curso_texto {
    line-height: 1.3;
    font-size: 18px;
}

.curso_tempo {
    color: #7c93f6;
}

.projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    max-width: 80vw;
    margin: 0 auto;
    margin-top: 50px;
    border-top: 10px solid #c1002c;
    padding-top: 50px;
}

.projetos_titulo {
    font-size: 80px;
    font-family: 'Rubik Doodle Shadow';
    margin-bottom: 50px;
    position: relative;
}

.projetos_titulo::before {
    content: "";
    background-image: url(https://raw.githubusercontent.com/abelardojr0/portfolio-aula/main/img/detalhes/detalhe_duplo.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: -40px;
    right: -70px;
    height: 140px;
    width: 140px;
    z-index: -1;
}

.card_projeto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 40px;
}

.card_projeto img {
    max-width: 500px;
    border-radius: 40px;
}

.projeto_infos {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
}

.card_titulo {
    font-size: 32px;
    font-weight: bold;
}

.card_subtitulo {
    font-size: 22px;
    font-style: italic;
    color: #7c93f6;
}

.card_texto {
    max-width: 500px;
    font-size: 18px;
    line-height: 1.4;
}

.footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    border-top: 10px solid #c1002c;
    padding: 20px 0;
}

.footer_copy {
    font-size: 24px;
}

.footer_curso {
    font-size: 20px;
    color: #7b7579;
}

.footer_autor {
    font-size: 16px;
    color: #c1002c;
    font-style: italic;
}